#parent{
    width: 1300px;
    height: 600px;
    position: relative;
    background-color: rgb(233, 233, 245);
    overflow: hidden;
}


#shape{
           
    
    display: none;
    position: relative;
    
}

